* {
	margin: 0;
	padding: 0;
}

h1,
h2,
p {
	color: #e0e0e0;
}

body {
	background-color: #121416;
	/* background-color: white; */
	/* #040404 */
}

img {
	filter: invert(1);
}

.skill-group {
}

.skill-group::before {
	background: radial-gradient(
		600px circle at 100px 100px rgba(255, 255, 255, 0.6),
		transparent 40%
	);
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
	opacity: 0;
	transition: opacity 500ms;
}

.skill-group:hover::before {
	opacity: 1;
}
