* {
	margin: 0;
	padding: 0;
}

h1,
h2,
p {
	color: #e0e0e0;
}

body {
	background-color: #121416;
	/* background-color: white; */
	/* #040404 */
}

img {
	filter: invert(1);
}

/* .skills-container:hover > .skill-group-animation::after {
	opacity: 1;
} */

.skill-group-animation {
	position: relative;
	z-index: 100;
}

.skill-group-animation::before,
.skill-group-animation::after {
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transition: opacity 500ms;
	width: 100%;
}

.skill-group-animation::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.skill-group-animation::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.skill-group-animation:hover::before {
	opacity: 1;
}
