:root {
	--background-colour: #060808;
	--font-colour: #e0e0e0;
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
span,
a,
p {
	color: var(--font-colour);
}

body {
	background-color: var(--background-colour);
	font-family: Inter, sans-serif;
}

.skill > img {
	filter: invert(0.95);
}

/* hover gradient effect*/
.card {
	position: relative;
	z-index: 100;
}

.card::before,
.card::after {
	content: "";
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transition: opacity 500ms;
	width: 100%;
}

.card::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.card::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.card:hover::before {
	opacity: 1;
}

img {
	width: 100px;
}

.card {
	padding: 10px;
}

.enlarge-effect {
	font-size: 60px;
	letter-spacing: -3px;
	transition: 700ms ease;
	font-variation-settings: "wght" 311;
	color: var(--font-colour);
}

.enlarge-effect:hover {
	font-variation-settings: "wght" 582;
	letter-spacing: 1px;
}

@media (min-width: 1200px) {
	.project-image {
		margin-top: -70px;
		margin-bottom: -30px;
	}
}

@media (max-width: 768px) {
	img {
		width: 60px;
	}
}

@media (max-width: 390px) {
	.spline {
		margin-bottom: 50vh;
	}

	.cards {
		flex-direction: column;
		margin-bottom: 80vh;
	}

	.card {
		padding: 10px 10px 30px 10px;
	}

	img {
		width: 50px;
	}
	.enlarge-effect {
		font-size: 25px;
	}
}
.skill-tag {
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
}

.link:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

.disable-highlight {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
